<li>
	{{name}}

	<button class="change-adopted" data-id="{{id}}" data-newadopted="{{adopt}}">
		{{#if adopted}}Adopted!{{else}}Available for adoption!{{/if}}
	</button>

	<button class="delete-dog" data-id="{{this.id}}">DELETE!</button>
</li>
